<!DOCTYPE html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8">
    <title>67kjobs / 六萬七職缺網</title>
    <!-- libraries-->
    <meta property="og:locale" content="zh_TW">
    <meta property="og:image" content="http://zbryikt.github.io/67kjobs/img/thumbnail.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="200">
    <meta property="og:image:height" content="200">
    <meta property="og:url" content="http://zbryikt.github.io/67kjobs/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="67k 職缺平台 / 好的人才要配好的工作">
    <meta property="og:description" content="你可以在這裡找到待遇更好的工作，我們專注於提供薪資至少六萬七的職缺資訊，讓你不再需要為了微薄的薪水折腰。">
    <script type="text/javascript" src="assets/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="assets/d3js/3.3.11/d3.v3.min.js"></script>
    <script type="text/javascript" src="assets/angular/1.2.3/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/bootstrap/3.0.2/css/bootstrap.min.css">
    <script type="text/javascript" src="assets/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <!-- custom files-->
    <link rel="icon" type="image/png" href="icon.png">
    <link rel="stylesheet" type="text/css" href="index.css">
    <script type="text/javascript" src="//cdn.firebase.com/js/client/1.0.17/firebase.js"></script>
    <script type="text/javascript" src="//cdn.firebase.com/v0/firebase-simple-login.js"></script>
    <script type="text/javascript" src="//cdn.firebase.com/libs/angularfire/0.7.1/angularfire.min.js"></script>
    <script type="text/javascript" src="jobs.js"></script>
    <script type="text/javascript" src="index.js"></script>
  </head>
  <body ng-app="jobs" ng-controller="index">
    <nav role="navigation" class="navbar navbar-default navbar-fixed-top navbar-inverse">
      <div class="container-fluid"><a href="#" class="navbar-brand"><img src="img/logo-mini.png"></a></div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="#aboutus">關於我們</a></li>
          <li><a href="#list-job">職缺列表</a></li>
          <li><a href="#post-job">刊登職缺</a></li>
          <li><a>
              <div data-href="http://67kjobs.info" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true" class="fb-like"></div></a></li>
        </ul>
        <ul class="nav navbar-nav pull-right">
          <li ng-show="!user"><a ng-click="login()">以臉書登入</a></li>
          <li ng-show="user" class="avatar"><a>
              <div ng-attr-style="background-image:url(http://graph.facebook.com/{{user.id}}/picture)" class="pic"></div>{{user.displayName}}</a></li>
          <li ng-show="user"><a ng-click="logout()">登出</a></li>
        </ul>
      </div>
    </nav>
    <div id="root">
      <div id="fb-root"></div>
      <script>
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&appId=1509776582585287&version=v2.0";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
      </script>
      <div id="pre-content">
        <div id="banner">
          <div id="logo" delay-bk="img/logo.png"></div>
          <div id="cover5" delay-bk="img/cover/2.jpg" class="cover">
            <div class="ib">
              <div class="title">你值得更好的工作</div>
              <div class="desc">難道你的人生就值這點錢嗎？難道你非得要鞠躬哈腰、口是心非嗎？跳槽的時候到了。<br>你可以在這裡找到待遇更好的工作，我們專注於提供薪資至少六萬七的職缺資訊，讓你不再需要為了微薄的薪水折腰。</div>
            </div>
          </div>
          <div id="cover1" delay-bk="img/cover/1.jpg" class="cover">
            <div class="ib">
              <div class="title">前途茫茫、感到迷惘嗎？</div>
              <div class="desc">迷惘是人之常情，但你必須要力圖改變。<br>你可以在這裡找到待遇更好的工作，我們專注於提供薪資至少六萬七的職缺資訊，讓你不再需要為了微薄的薪水折腰。</div>
            </div>
          </div>
          <div id="cover2" delay-bk="img/cover/3.jpg" class="cover">
            <div class="ib">
              <div class="title">不要再委屈自己了</div>
              <div class="desc">委身在茅廬之中，等待別人發現嗎？不要做21世紀的臥龍，機會永遠都只留給自己爭取的人。<br>你可以在這裡找到待遇更好的工作，我們專注於提供薪資至少六萬七的職缺資訊，讓你不再需要為了微薄的薪水折腰。</div>
            </div>
          </div>
          <div id="cover3" delay-bk="img/cover/4.jpg" class="cover">
            <div class="ib">
              <div class="title">多久沒好好休息了？</div>
              <div class="desc">人生就只有賺錢嗎？如果你的待遇不夠好，那你連思考這個問題的時間都沒有。<br>你可以在這裡找到待遇更好的工作，我們專注於提供薪資至少六萬七的職缺資訊，讓你不再需要為了微薄的薪水折腰。</div>
            </div>
          </div>
          <div id="cover4" delay-bk="img/cover/2.jpg" class="cover">
            <div class="ib">
              <div class="title">你值得更好的工作</div>
              <div class="desc">難道你的人生就值這點錢嗎？難道你非得要鞠躬哈腰、口是心非嗎？跳槽的時候到了。<br>你可以在這裡找到待遇更好的工作，我們專注於提供薪資至少六萬七的職缺資訊，讓你不再需要為了微薄的薪水折腰。</div>
            </div>
          </div>
        </div>
      </div>
      <div id="content">
        <blockquote class="quote">“ You Deserve Better. “
          <div id="list-job"></div>
          <div class="small text-right">- 67k jobs platform </div>
        </blockquote><br>
        <div id="index">
          <div id="job-detail-modal" class="modal fade">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" data-dismiss="modal" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <h4>職缺 / {{curjob.title}} 
                    <div style="display:inline-block" class="small">- {{curjob.company}}</div>
                  </h4>
                </div>
                <div class="modal-body"><i class="glyphicon glyphicon-briefcase green"></i> 公司名稱: {{curjob.company}}<br><i class="glyphicon glyphicon-calendar blue"></i> 刊登日期: {{curjob.time|date:'yyyy-MM-dd HH:mm '}}<br><i class="glyphicon glyphicon-map-marker red"></i> 工作地點: {{curjob.location}}<br><i class="glyphicon glyphicon-envelope orange"></i> 履歷請寄至 <a href="{{curjob.email}}">{{curjob.email}}</a>
                  <hr>
                  <h4 class="text-center">薪資待遇(月薪)</h4>
                  <div class="row">
                    <div style="width:80%;margin:auto" class="col-sm-12 text-center">
                      <div class="btn btn-lg btn-block btn-danger text-center"><i style="vertical-align:middle" class="glyphicon glyphicon-usd white small"></i> {{curjob.salary1}}元 ~ {{curjob.salary2}}元</div>
                      <div ng-show="curjob.signbonus" class="label label-primary"><i class="glyphicon glyphicon-usd"></i> 有簽約金</div>
                      <div ng-show="curjob.techshare" class="label label-warning"><i class="glyphicon glyphicon-folder-close"></i> 有技術股</div>
                      <div ng-show="curjob.stockright" class="label label-danger"><i class="glyphicon glyphicon-heart"></i> 員工可認股</div>
                      <div ng-show="curjob.annualbonus" class="label label-success"><i class="glyphicon glyphicon-gift"></i> 年終獎金三個月以上</div>
                    </div>
                  </div><br>
                  <hr>
                  <h4>工作內容
                    <div class="small pull-right">{{curjob.title}}</div>
                  </h4>
                  <blockquote class="pre">{{curjob.desc}}</blockquote>
                  <hr>
                  <h4>公司簡介
                    <div class="small pull-right">{{curjob.company}}</div>
                  </h4>
                  <blockquote class="pre">{{curjob.compdesc}}</blockquote>
                </div>
                <div class="modal-footer">
                  <button type="button" data-dismiss="modal" class="btn btn-default">關閉</button>
                </div>
              </div>
            </div>
          </div>
          <hr class="color orange"><br>
          <div id="joblist">
            <h3><i class="glyphicon glyphicon-list orange"></i> 職缺列表
              <select ng-model="jobtab" ng-options="type.name for type in jobtypes" class="input-lg">
                <option value="">全部</option>
              </select>
            </h3>
            <div class="list-group">
              <div class="list-group-item head">
                <div class="job">
                  <div class="cell rank">
                    <div class="ranker"></div>薪資
                  </div>
                  <div class="cell title">職缺</div>
                  <div class="cell time">刊登時間 <i class="glyphicon glyphicon-user"></i></div>
                </div>
              </div>
              <div class="list-group-item">
                <div ng-repeat="j in data[jobtab.id || 0]" class="job">
                  <div class="cell rank">
                    <div ng-class="{'blue':j[1].salary1&lt;70000,'green':j[1].salary1&gt;=70000 &amp;&amp; j[1].salary1&lt;80000,'yellow':j[1].salary1&gt;=80000 &amp;&amp; j[1].salary1&lt;100000,'orange':j[1].salary1&gt;=100000 &amp;&amp; j[1].salary1&lt;150000,'red':j[1].salary1&gt;=150000}" class="ranker"></div>{{j[1].salary1|tok}} ~ {{j[1].salary2|tok}}
                  </div>
                  <div class="cell title"><a ng-click="detail(j[1])">{{j[1].title}}</a>
                    <div class="small"> (  <a href="{{j[1].url}}">{{j[1].company}}</a> ) </div>
                  </div>
                  <div class="cell time">{{j[1].time|date:'yyyy-MM-dd'}} <img ng-if="j[1].owner.id" ng-attr-src="http://graph.facebook.com/{{j[1].owner.id}}/picture"> <i ng-show="{{user.id=='10151905053907168'}}" ng-click="remove(j)" class="glyphicon glyphicon-remove red"></i></div>
                </div>
              </div>
            </div>
          </div>
          <div id="post-job"></div><br><br>
          <hr class="color green"><br>
          <form id="new-job" name="newjobform" novalidate ng-class="{'needfix':needfix}">
            <h3><i class="glyphicon glyphicon-edit green"></i> 建立職缺</h3>
            <div class="small">任何刊登在此平台的職缺都必須要提供薪資範圍，並且最低值要高於六萬七千元 (新台幣)</div>
            <hr>
            <div class="row">
              <div class="col-sm-3 text-right">
                <h4>職缺 / 頭銜</h4>
              </div>
              <div class="col-sm-9">
                <input name="title" type="text" ng-model="newjob.title" placeholder="例如，執行副理、保險業務助理、資深任體工程師等等" required ng-minlength="3" ng-maxlength="35" class="form-control">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3 text-right">
                <h4>職業別</h4>
              </div>
              <div class="col-sm-9">
                <select name="jobtype" ng-model="newjob.jobtype" ng-options="type.name for type in jobtypes" required class="form-control">
                  <option value="">請選取</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3 text-right">
                <h4>職業名</h4>
              </div>
              <div class="col-sm-9">
                <select name="jobname" ng-model="newjob.jobname" ng-options="job.name for job in jobs" required class="form-control">
                  <option value="">請選取</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3 text-right">
                <h4>月薪範圍</h4>
              </div>
              <div class="col-sm-9 form-inline">
                <div class="form-group">
                  <input name="salary1" type="number" ng-model="newjob.salary1" placeholder="最低值，至少六萬七" required ng-maxlength="9" class="form-control">
                </div> 至
                <div class="form-group">
                  <input name="salary2" type="number" ng-model="newjob.salary2" placeholder="最高值，如：990000" required ng-maxlength="9" class="form-control">
                </div><br> (單位: 新台幣)
              </div>
            </div><br>
            <div class="row">
              <div class="col-sm-3 text-right">
                <h4>額外獎金</h4>
              </div>
              <div class="col-sm-9 form-inline bonus">
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="signbonus" ng-model="newjob.signbonus"><i class="glyphicon glyphicon-usd blue"></i> 簽約金 
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="techshare" ng-model="newjob.techshare"><i class="glyphicon glyphicon-folder-close orange"></i> 技術股 
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="stockright" ng-model="newjob.stockright"><i class="glyphicon glyphicon-heart red"></i> 員工認股 
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="annualbonus" ng-model="newjob.annualbonus"><i class="glyphicon glyphicon-gift green"></i> 三個月以上年終獎金 
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3 text-right">
                <h4>工作地點</h4>
              </div>
              <div class="col-sm-9">
                <input name="location" type="text" ng-model="newjob.location" placeholder="例如：台北市、上海" required ng-maxlength="30" class="form-control">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3 text-right">
                <h4>工作內容</h4>
              </div>
              <div class="col-sm-9">
                <textarea name="desc" ng-model="newjob.desc" placeholder="請詳加描述你提供的職缺其工作內容跟需求(純文字排版)" style="min-height: 200px" class="form-control"></textarea>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3 text-right">
                <h4>公司名稱</h4>
              </div>
              <div class="col-sm-9">
                <input name="company" type="text" ng-model="newjob.company" placeholder="例如：跑得慢股份有限公司" required ng-maxlength="30" class="form-control">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3 text-right">
                <h4>公司介紹</h4>
              </div>
              <div class="col-sm-9">
                <textarea name="compdesc" ng-model="newjob.compdesc" placeholder="請簡單描述職缺所在的公司(純文字排版)" style="min-height: 100px" class="form-control"></textarea>
              </div>
            </div><br>
            <div class="row">
              <div class="col-sm-3 text-right">
                <h4>公司網址</h4>
              </div>
              <div class="col-sm-9">
                <input name="url" type="text" ng-model="newjob.url" placeholder="例如：http://runsoslow.io" class="form-control">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3 text-right">
                <h4>電子郵件</h4>
              </div>
              <div class="col-sm-9">
                <input name="email" type="email" ng-model="newjob.email" placeholder="例如: hr@runsoslow.io" required ng-maxlength="30" class="form-control">
                <div class="small">( 收履歷用 )</div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <div ng-show="needfix" class="alert alert-warning">表單有些問題，請修正再送出</div>
              </div>
              <div class="col-sm-9">
                <div ng-show="user" ng-click="submit()" ng-disabled="waitreload" class="btn btn-success btn-rad btn-block btn-lg">刊登求才啟示</div>
                <div ng-show="!user" ng-click="login()" class="btn btn-warning btn-rad btn-block btn-lg">按此登入後即可刊登</div>
              </div>
            </div>
          </form><br>
          <hr class="color blue">
          <div id="aboutus"><br>
            <h3><img src="img/g0v.gif"> 關於我們</h3><br>
            <p>這個平台的建立是啟發自<a href="http://66kjobs.tw">66kjobs</a>，據說該平台開發者使用 Ruby 花了八個小時就把網站建立起來。我想這會是一個很好的練習題目，稍微思考了一下， 決定使用精簡的 jade 、 sass 、 livescript 、 bootstrap 、 angularjs 、 firebase ，趁晚上小孩睡覺後幾個小時，大致上就把東西整理得差不多了，預計再寫個批踢踢文章 parser 來整理求職版文章，應該不會太費時，因為 <a href="http://github.com/zbryikt/ptt-crawler">批踢踢爬蟲程式</a> 以前就寫好了。</p><br>
            <p>67kjobs 後端接的是 firebase ，難度不會很高但架構有些限制，有機會可以嘗試再用 python django 或是 nodejs express + mongodb 再寫一次，扣掉前端與設計的部分，估計大約一 ~ 兩個小時就可以把網站架起來了。</p><br>
            <div class="small text-right">contact: 67kjobs&#x40;scrape4.me</div>
          </div>
        </div>
      </div>
      <div id="footer">&copy; 2014 67kjobs.info inc. all right reserved. 
        <div class="badge">beta</div>
      </div>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-52936206-1', 'auto');
        ga('send', 'pageview');
      </script>
    </div>
  </body>
</html>