extends layout
block pre-content
  #banner
    #logo(delay-bk="img/logo.png")
    #cover5.cover(delay-bk="img/cover/2.jpg")
      .ib
        .title 你值得更好的工作
        .desc 
          | 難道你的人生就值這點錢嗎？難道你非得要鞠躬哈腰、口是心非嗎？跳槽的時候到了。
          br
          | 你可以在這裡找到待遇更好的工作，我們專注於提供薪資至少六萬七的職缺資訊，讓你不再需要為了微薄的薪水折腰。
    #cover1.cover(delay-bk="img/cover/1.jpg")
      .ib
        .title 前途茫茫、感到迷惘嗎？
        .desc 
          | 迷惘是人之常情，但你必須要力圖改變。
          br
          | 你可以在這裡找到待遇更好的工作，我們專注於提供薪資至少六萬七的職缺資訊，讓你不再需要為了微薄的薪水折腰。
    #cover2.cover(delay-bk="img/cover/3.jpg")
      .ib
        .title 不要再委屈自己了
        .desc 
          | 委身在茅廬之中，等待別人發現嗎？不要做21世紀的臥龍，機會永遠都只留給自己爭取的人。
          br
          | 你可以在這裡找到待遇更好的工作，我們專注於提供薪資至少六萬七的職缺資訊，讓你不再需要為了微薄的薪水折腰。
    #cover3.cover(delay-bk="img/cover/4.jpg")
      .ib
        .title 你有多久沒有好好休息了？
        .desc
          | 人生就只有賺錢嗎？如果你的待遇不夠好，那你連思考這個問題的時間都沒有。
          br
          | 你可以在這裡找到待遇更好的工作，我們專注於提供薪資至少六萬七的職缺資訊，讓你不再需要為了微薄的薪水折腰。
    #cover4.cover(delay-bk="img/cover/2.jpg")
      .ib
        .title 你值得更好的工作
        .desc 
          | 難道你的人生就值這點錢嗎？難道你非得要鞠躬哈腰、口是心非嗎？跳槽的時候到了。
          br
          | 你可以在這裡找到待遇更好的工作，我們專注於提供薪資至少六萬七的職缺資訊，讓你不再需要為了微薄的薪水折腰。
block content
  blockquote.quote
    | “ You Deserve Better. “
    #list-job
    .small.text-right - 67k jobs platform 
  br
  #index
    hr.color.orange
    br
    #joblist
      h3
        i.glyphicon.glyphicon-list.orange
        |  職缺列表
      .list-group
        .list-group-item.head
          .job
            .cell.title 職稱
            .cell.jobname 職業類型
            .cell.loc 工作地點
            .cell.salary 薪資範圍
            .cell.company 公司名稱
            .cell.user 刊登者

        .list-group-item
          .job(ng-repeat="job in joblist") 
            .cell.title {{job.title}}
            .cell.jobname {{job.jobname.name}}
            .cell.loc {{job.location}}
            .cell.salary {{job.salary1}} ~ {{job.salary2}}
            .cell.company 
              a(href="{{job.url}}") {{job.company}}
            .cell.user {{job.owner.name}}
    #post-job
    br
    br
    hr.color.green
    br
    form#new-job(name="newjobform",novalidate,ng-class="{'needfix':needfix}")
      h3 
        i.glyphicon.glyphicon-edit.green
        |  建立職缺
      .small 任何刊登在此平台的職缺都必須要提供薪資範圍，並且最低值要高於六萬七千元 (新台幣)
      hr
      .row
        .col-sm-3.text-right
          h4 職缺 / 頭銜
        .col-sm-9
          input.form-control(name="title",type="text",ng-model="newjob.title",placeholder="例如，執行副理、保險業務助理、資深任體工程師等等",required,min-length="3")
      .row
        .col-sm-3.text-right
          h4 職業別
        .col-sm-9
          select.form-control(name="jobtype",ng-model="newjob.jobtype",ng-options="type.name for type in jobtypes",required)
      .row
        .col-sm-3.text-right
          h4 職業名
        .col-sm-9
          select.form-control(name="jobname",ng-model="newjob.jobname",ng-options="job.name for job in jobs",required)
      .row
        .col-sm-3.text-right
          h4 薪水範圍
        .col-sm-9.form-inline
          .form-group
            input.form-control(name="salary1",type="text",ng-model="newjob.salary1",placeholder="最低值，至少六萬七",required)
          |  至
          .form-group
            input.form-control(name="salary2",type="number",ng-model="newjob.salary2",placeholder="最高值，如：990000",required)
          br
          |  (單位: 新台幣)
      br
      .row
        .col-sm-3.text-right
          h4 工作地點
        .col-sm-9
          input.form-control(name="location",type="text",ng-model="newjob.location",placeholder="例如：台北市、上海",required)
      .row
        .col-sm-3.text-right
          h4 工作內容
        .col-sm-9
          textarea.form-control(name="desc",ng-model="newjob.desc",placeholder="請詳加描述你提供的職缺其工作內容跟需求(純文字排版)",style="min-height: 200px")
      hr
      .row
        .col-sm-3.text-right
          h4 公司名稱
        .col-sm-9
          input.form-control(name="company",type="text",ng-model="newjob.company",placeholder="例如：跑得慢股份有限公司",required)
      .row
        .col-sm-3.text-right
          h4 公司網址
        .col-sm-9
          input.form-control(name="url",type="text",ng-model="newjob.url",placeholder="例如：http://runsoslow.io")
      .row
        .col-sm-3.text-right
          h4 電子郵件
        .col-sm-9
          input.form-control(name="email",type="email",ng-model="newjob.email",placeholder="hr@runsoslow.io",required)
          .small ( 收履歷用 )
      hr
      .row
        .col-sm-3
          .alert.alert-warning(ng-show="needfix") 表單有些問題，請改一改再送出
        .col-sm-9
          .btn.btn-success.btn-rad.btn-block.btn-lg(ng-show="user",ng-click="submit()") 刊登求才啟示
          .btn.btn-warning.btn-rad.btn-block.btn-lg(ng-show="!user",ng-click="login()") 按此登入後即可刊登
    br
    hr.color.blue
    #aboutus
      br
      h3
        img(src="img/g0v.gif")
        |  關於我們
      br
      p 所以你是說你的薪水不夠高。
      br
      p
        | 你有考慮過到國外工作嗎？不不不，人不用到國外。比方說 
        a(href="http://jobmote.com/") JOBMOTE
        |  這個網站提供了不少遠距工作的職缺，像是 
        a(href="http://jobmote.com/job/6451-mean-javascript-master") 這一個職缺
        |  所需的技能差不多就只是架設這一個平台所需的技能而已。別忘了也參考一下
        a(href="http://www.flexjobs.com/") Flexjobs
        |  這一個網站，看看他的標題：
      blockquote
        | Life is flexible... is your job?
      p
        | 我想這個問題必須要由你自己來回答。
      br
      p
        | 這個平台的建立是啟發自
        a(href="http://66kjobs.tw") 66kjobs
        | ，據說開發者使用 Ruby 花了八個小時就把網站建立起來。我想這會是一個很好的練習題目，稍微思考了一下，決定為了節省時間，連後端都不開發了，純粹撰寫前端程式碼，使用簡潔的 jade 、 sass 、 livescript 、 bootstrap 、 angularjs 、 firebase 稍微兜兜兜，咦！才兩個多小時，我已經開始在寫「關於我們」了，其中一個小時還是在爬取職業列表以及挑選首頁用的照片呢，就只差 inside jobs 爬蟲還沒寫了，不過我傾向去爬批踢踢的 job / tech-job / soft-job / part-time 各板，反正 
        a(href="http://github.com/zbryikt/ptt-crawler") 批踢踢爬蟲程式
        |  以前就已經寫過了，只差文章 parser 而已。
      br
      p 67kjobs 後端接的是 firebase ，權限控制上可能還會有點問題，也還需要再特別建立過濾機制，但難度不會很高，有機會可以嘗試用 python django 或是 nodejs express + mongodb 再寫一次，相信時間應該同樣不會花超過三個小時。
      br
      p 
        | 所有程式碼皆放在 
        a(href="http://github.com/zbryikt/67kjobs") github repo
        |  ，歡迎自己拿去參考。
      .text-right tkirby @ 2014.07.15
        
block footer
  | &copy; 2014 67kjobs inc. all right reserved. 
  .badge beta
