@charset "UTF-8";
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Source Sans Pro", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "文泉驛微米黑", "WenQuanYi Micro Hei Light", "微軟正黑體", "Microsoft JhengHei", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.glyphicon {
  vertical-align: text-top; }

#root {
  margin-top: 0;
  width: 100%;
  height: 100%; }

#content {
  margin: 0 20px 20px;
  padding-top: 20px; }

.navbar-brand {
  padding: 2px 20px; }

.nav li a {
  cursor: pointer; }

.navbar-nav > li.avatar > a {
  padding: 0; }
.navbar-nav > li.avatar .pic {
  width: 30px;
  height: 30px;
  margin: 10px;
  vertical-align: middle;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block; }

.quote {
  font-size: 3em;
  text-align: center; }
  .quote .small {
    font-size: 0.5em;
    margin-right: 10%; }

@media (max-width: 800px) {
  .quote {
    font-size: 2em; } }
#new-job {
  width: 70%;
  margin: auto; }
  #new-job .taller {
    margin-bottom: 20px; }
    #new-job .taller .text-center {
      text-align: left; }

@media (max-width: 800px) {
  #new-job {
    width: 94%; }

  #new-job .col-sm-3 {
    text-align: left; }

  #new-job .taller {
    margin-bottom: 10px; }
    #new-job .taller .form-group {
      margin-bottom: 0; }
    #new-job .taller .text-center {
      text-align: center; } }
.needfix .ng-invalid {
  border-color: #ff3311; }

#joblist {
  width: 80%;
  margin: 0 auto;
  font-size: 1.3em; }

.job {
  font-size: 0.75em;
  margin-bottom: 10px;
  border-bottom: 1px dashed #eeeeee; }
  .job .cell {
    display: inline-block; }
  .job .rank {
    width: 140px; }
  .job .title {
    font-size: 1.3em; }
    .job .title > a:hover {
      text-decoration: underline;
      cursor: pointer; }
    .job .title .small {
      font-size: 0.5em;
      display: inline-block; }
  .job .time {
    float: right;
    text-align: right;
    width: 120px; }
    .job .time img {
      vertical-align: middle;
      width: 24px; }

.head .job {
  margin-bottom: 0;
  border-bottom: none; }

@media (max-width: 1000px) {
  .job {
    white-space: nowrap; }
    .job .cell.title {
      white-space: nowrap;
      width: 330px;
      overflow: hidden;
      text-overflow: ellipsis; } }
@media (max-width: 800px) {
  #joblist {
    width: 94%; }
    #joblist .list-group-item {
      padding: 0; }
    #joblist .job {
      margin-bottom: 0;
      padding: 10px 10px 5px;
      border-bottom: none; }
    #joblist .job:nth-of-type(2n) {
      background: #eeeeee; }
    #joblist .cell {
      width: 100% !important;
      display: block; }
    #joblist .cell.time {
      margin-top: -45px; }
    #joblist .cell.time, #joblist .cell.rank {
      font-size: 0.5em; } }
.ranker {
  background: white;
  border-radius: 5px;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  vertical-align: middle;
  display: inline-block; }

.ranker.blue {
  background: #1144ff; }

.ranker.green {
  background: #229911; }

.ranker.yellow {
  background: yellow; }

.ranker.orange {
  background: #ff9922; }

.ranker.red {
  background: #ff4411; }

.list-group-item.head {
  background: #444444;
  color: white; }

@-webkit-keyframes carousel {
  0% {
    opacity: 0; }

  7% {
    opacity: 0; }

  20% {
    opacity: 0; }

  25% {
    opacity: 1; }

  50% {
    opacity: 1; }

  55% {
    opacity: 0; }

  75% {
    opacity: 0; }

  100% {
    opacity: 0; } }

@-moz-keyframes carousel {
  0% {
    opacity: 0; }

  7% {
    opacity: 0; }

  20% {
    opacity: 0; }

  25% {
    opacity: 1; }

  50% {
    opacity: 1; }

  55% {
    opacity: 0; }

  75% {
    opacity: 0; }

  100% {
    opacity: 0; } }

@-ms-keyframes carousel {
  0% {
    opacity: 0; }

  7% {
    opacity: 0; }

  20% {
    opacity: 0; }

  25% {
    opacity: 1; }

  50% {
    opacity: 1; }

  55% {
    opacity: 0; }

  75% {
    opacity: 0; }

  100% {
    opacity: 0; } }

@keyframes carousel {
  0% {
    opacity: 0; }

  7% {
    opacity: 0; }

  20% {
    opacity: 0; }

  25% {
    opacity: 1; }

  50% {
    opacity: 1; }

  55% {
    opacity: 0; }

  75% {
    opacity: 0; }

  100% {
    opacity: 0; } }

#pre-content {
  margin-top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-bottom: 5px solid #cc4422; }

#banner {
  width: 100%;
  height: 100%;
  margin-top: 50px;
  position: relative;
  background-image: -o-linear-gradient(bottom, #bfbfbf 0%, #4d4d4d 100%);
  background-image: -moz-linear-gradient(bottom, #bfbfbf 0%, #4d4d4d 100%);
  background-image: -webkit-linear-gradient(bottom, #bfbfbf 0%, #4d4d4d 100%);
  background-image: -ms-linear-gradient(bottom, #bfbfbf 0%, #4d4d4d 100%);
  background-image: linear-gradient(to bottom, #bfbfbf 0%, #4d4d4d 100%); }

.cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 10;
  opacity: 0;
  -ms-transition: all 1s;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s; }
  .cover.visible {
    opacity: 1; }
  .cover .ib {
    padding-top: 10%; }
  .cover .title {
    font-size: 4em;
    font-weight: 900;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    padding: 4%;
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.5); }
  .cover .desc {
    font-size: 1.5em;
    font-weight: 900;
    color: white;
    padding: 1% 10% 1% 1%;
    margin-top: 6%;
    text-align: right;
    text-shadow: 0 0 4px black; }

@media (max-width: 1000px) {
  .cover .title {
    font-size: 3em; } }
@media (max-width: 900px) {
  .cover .desc {
    font-size: 1.2em; } }
#cover1 {
  -ms-animation: carousel 20s infinite linear;
  -moz-animation: carousel 20s infinite linear;
  -webkit-animation: carousel 20s infinite linear;
  -o-animation: carousel 20s infinite linear;
  animation: carousel 20s infinite linear;
  -ms-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -webkit-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s; }

#cover2 {
  -ms-animation: carousel 20s infinite linear;
  -moz-animation: carousel 20s infinite linear;
  -webkit-animation: carousel 20s infinite linear;
  -o-animation: carousel 20s infinite linear;
  animation: carousel 20s infinite linear;
  -ms-animation-delay: 5s;
  -moz-animation-delay: 5s;
  -webkit-animation-delay: 5s;
  -o-animation-delay: 5s;
  animation-delay: 5s; }

#cover3 {
  -ms-animation: carousel 20s infinite linear;
  -moz-animation: carousel 20s infinite linear;
  -webkit-animation: carousel 20s infinite linear;
  -o-animation: carousel 20s infinite linear;
  animation: carousel 20s infinite linear;
  -ms-animation-delay: 10s;
  -moz-animation-delay: 10s;
  -webkit-animation-delay: 10s;
  -o-animation-delay: 10s;
  animation-delay: 10s; }

#cover3 {
  -ms-animation: carousel 20s infinite linear;
  -moz-animation: carousel 20s infinite linear;
  -webkit-animation: carousel 20s infinite linear;
  -o-animation: carousel 20s infinite linear;
  animation: carousel 20s infinite linear;
  -ms-animation-delay: 15s;
  -moz-animation-delay: 15s;
  -webkit-animation-delay: 15s;
  -o-animation-delay: 15s;
  animation-delay: 15s; }

#cover4 {
  z-index: 1; }

#logo {
  width: 400px;
  height: 300px;
  position: absolute;
  top: 5%;
  right: 6%;
  z-index: 11;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

@media (max-width: 660px) {
  #logo {
    opacity: 0.4;
    display: none; } }
@media (max-width: 1200px) {
  #logo {
    width: 300px;
    height: 225px;
    right: 100px; } }
@media (max-width: 1000px) {
  #logo {
    top: 10%;
    width: 200px;
    height: 150px;
    right: 75px; } }
#aboutus {
  width: 80%;
  margin: auto;
  font-size: 1.3em; }
  #aboutus h3 {
    margin-left: -40px; }

#footer {
  margin-top: 50px;
  padding: 10px 100px;
  background: #444444;
  color: #eeeeee;
  text-align: right; }
  #footer a {
    color: white; }

hr.color {
  border: none;
  height: 0;
  border-bottom: 10px solid black; }
  hr.color.red {
    border-color: #ff2211; }
  hr.color.orange {
    border-color: #ffbb44; }
  hr.color.green {
    border-color: #99cc44; }
  hr.color.blue {
    border-color: #4499cc; }

.white {
  color: white; }

.gray {
  color: #999999; }

.red {
  color: #ff2211; }

.orange {
  color: #ffbb44; }

.green {
  color: #99cc44; }

.blue {
  color: #4499cc; }

.bonus .checkbox {
  margin-right: 20px; }
.bonus .glyphicon {
  margin-left: 5px; }

blockquote.pre {
  white-space: pre-wrap; }

.modal-dialog {
  width: 80%;
  max-width: 960px; }

.sponsor {
  float: left;
  text-align: center;
  width: 220px;
  margin: 10px; }
  .sponsor .brand {
    display: block; }
  .sponsor .desc {
    font-size: 0.8em; }

@media (max-width: 800px) {
  .sponsor {
    width: 100%;
    margin-bottom: 30px; } }
h3.qa .glyphicon {
  font-size: 20px;
  vertical-align: middle; }

.q {
  margin-bottom: 10px; }
  .q:before {
    content: "Q: ";
    margin-left: -20px; }

.a {
  margin-bottom: 20px; }
  .a:before {
    content: "A: ";
    margin-left: -18px; }
