@import basic 

html,body
  margin: 0
  padding: 0
  width: 100%
  height: 100%

.glyphicon
  vertical-align: text-top

#root
  margin-top: 0
  width: 100%
  height: 100%

#content
  margin: 0 20px 20px
  padding-top: 20px

.navbar-brand
  padding: 2px 20px

.nav li a
  cursor: pointer

.navbar-nav > li.avatar
  & > a
    padding: 0
  .pic
    width: 32px
    height: 32px
    margin: 10px
    vertical-align: middle
    background-size: cover
    background-position: center center
    background-repeat: no-repeat
    display: inline-block

.quote
  font-size: 3em
  text-align: center
  .small
    font-size: 0.5em
    margin-right: 10%

#new-job
  width: 70%
  margin: auto

.needfix .ng-invalid
  border-color: #f31

#joblist
  width: 80%
  margin: 0 auto
  font-size: 1.3em
.job
  font-size: 0.75em
  margin-bottom: 10px
  border-bottom: 1px dashed #eee
  .cell
    display: inline-block
  .rank
    width: 140px
  .title
    width: 300px
    font-size: 1.3em
    & > a:hover
      text-decoration: underline
      cursor: pointer
    .small
      font-size: 0.5em
      display: inline-block
  .time
    float: right
    text-align: right
    width: 120px
    img
      vertical-align: middle
      width: 24px
.head .job
  margin-bottom: 0
  border-bottom: none

.ranker
  background: #fff
  border-radius: 5px
  width: 16px
  height: 16px
  margin-right: 10px
  vertical-align: middle
  display: inline-block
.ranker.blue
  background: #14f
.ranker.green
  background: #291
.ranker.yellow
  background: #ff0
.ranker.orange
  background: #f92
.ranker.red
  background: #f41

.list-group-item.head
  background: #444
  color: #fff

@include keyframes(carousel)
  0%
    opacity: 0
  7%
    opacity: 0
  20%
    opacity: 0
  25%
    opacity: 1
  50%
    opacity: 1
  55%
    opacity: 0
  75%
    opacity: 0
  100%
    opacity: 0

#pre-content
  margin-top: 0
  width: 100%
  height: 100%
  overflow: hidden
  border-bottom: 5px solid #c42
#banner
  width: 100%
  height: 100%
  margin-top: 50px
  position: relative
  @include gradient(#BFBFBF, #4D4D4D)
.cover
  position: absolute
  width: 100%
  height: 100%
  background-repeat: no-repeat
  background-position: center center
  background-size: cover
  z-index: 10
  opacity: 0
  @include transition(all 1s)
  &.visible
    opacity: 1
  .ib
    padding-top: 10%
  .title
    font-size: 4em
    font-weight: 900
    background: rgba(0,0,0,0.4)
    color: #fff
    padding: 4%
    text-shadow: 0 2px 1px rgba(0,0,0,0.5)
  .desc
    font-size: 1.5em
    font-weight: 900
    color: #fff
    padding: 1% 10% 1% 1%
    margin-top: 20px
    text-align: right
    text-shadow: 0 0 4px rgba(0,0,0,1)
@media (max-width: 1000px)
  .cover
    .title
      font-size: 3em
@media (max-width: 900px)
  .cover .desc
    font-size: 1.2em

#cover1
  @include animation(carousel 20s infinite linear)
  @include animation-delay(0s)
#cover2
  @include animation(carousel 20s infinite linear)
  @include animation-delay(5s)
#cover3
  @include animation(carousel 20s infinite linear)
  @include animation-delay(10s)
#cover3
  @include animation(carousel 20s infinite linear)
  @include animation-delay(15s)
#cover4
  z-index: 1

#logo
  width: 400px
  height: 300px
  position: absolute
  top: 5%
  right: 6%
  z-index: 11
  background-repeat: no-repeat
  background-position: center center
  background-size: cover

@media (max-width: 1200px)
  #logo
    width: 300px
    height: 225px
    right: 100px
@media (max-width: 1000px)
  #logo
    top: 10%
    width: 200px
    height: 150px
    right: 75px

#aboutus
  h3
    margin-left: -40px
  width: 80%
  margin: auto
  font-size: 1.3em

#footer
  margin-top: 50px
  padding: 10px 100px
  background: #444
  color: #eee
  text-align: right

hr.color
  border: none
  height: 0
  border-bottom: 10px solid #000
  &.red
    border-color: #f21
  &.orange
    border-color: #fb4
  &.green
    border-color: #9c4
  &.blue
    border-color: #49c

.red
  color: #f21
.orange
  color: #fb4
.green
  color: #9c4
.blue
  color: #49c

.bonus
  .checkbox
    margin-right: 20px
  .glyphicon
    margin-left: 5px

blockquote.pre
  white-space: pre
