extends layout
block pre-content
  include widget/banner.jade
block content
  blockquote.quote
    | “ You Deserve Better. “
    #list-job
    .small.text-right - 67k jobs platform 
  br
  h1(style="height:1px;opacity:0.01;overflow:hidden;font-size:1px") 67kjobs 六萬七職缺網 找好工作 待遇高 福利優
  #index
    include widget/job-detail.jade
    include widget/msg.jade
    hr.color.orange
    br
    include widget/job-list.jade
    #post-job
    br
    br
    hr.color.green
    br
    include widget/job-post.jade
    br
    hr.color.blue
    #aboutus
      br
      h3
        img(src="img/g0v.gif")
        |  關於我們
      //-
        br
        p 所以你是說你的薪水不夠高。
        br
        p
          | 你有考慮過到國外工作嗎？不不不，人不用到國外。比方說 
          a(href="http://jobmote.com/") JOBMOTE
          |  這個網站提供了不少遠距工作的職缺，像是 
          a(href="http://jobmote.com/job/6451-mean-javascript-master") 這一個職缺
          |  所需的技能差不多就只是架設這一個平台所需的技能而已。別忘了也參考一下
          a(href="http://www.flexjobs.com/") Flexjobs
          |  這一個網站，看看他的標題：
        blockquote
          | Life is flexible... is your job?
        p
          | 我想這個問題必須要由你自己來回答。

      br
      p
        | 這個平台的建立是啟發自
        a(href="http://66kjobs.tw") 66kjobs
        | ，據說該平台開發者使用 Ruby on Rails 花了八個小時就把網站建立起來。我想這會是一個很好的練習題目，稍微思考了一下， 決定使用精簡的 jade 、 sass 、 livescript 、 bootstrap 、 angularjs 、 firebase ，趁晚上小孩睡覺後幾個小時，大致上就把東西整理得差不多了，預計再寫個批踢踢文章 parser 來整理求職版文章，應該不會太費時，因為 
        a(href="http://github.com/zbryikt/ptt-crawler") 批踢踢爬蟲程式
        |  以前就寫好了。
      p 67kjobs 後端接的是 firebase ，難度不會很高但架構有些限制，有機會可以嘗試再用 python django 或是 nodejs express + mongodb 再寫一次，扣掉前端與設計的部分，估計也是可以很快就把網站架起來了。
      h3.qa
        i.glyphicon.glyphicon-comment.green
        | &nbsp; 問與答
      .q 你真的是受 66kjobs 啟發嗎？
      .a 
        | 其實除了做練習以外，主要還有一個原因： 66kjobs 雖然是高薪網，但可以刊登的範圍仍然極大，所以會出現有些最低薪很低的情況，我看雖然他們開源也接受 PR ， 但主事者似乎不認為這個需要改，所以我猜我就算送 PR 大概也不會被接受，不如自己做一個差不多但是核心價值不同的 67kjobs ，只准刊登真・ 67k 以上的工作。
        br
        br
        | 另外，由於只准刊登 67k 以上的工作，勢必這裡能列出的職缺會比較少，使得有些薪資上限頗高的職缺無法出現，從這個角度來想 66k 的做法也有其考量，他們可以先搜集到足夠的職缺後，再用條件篩選等方式來呈現；只是，那種情況下是否 66kjobs 就淪為 104 、 1111 的另一個複製網站了呢？這個是值得繼續討論的。
      br
      .q 你說只花了一個晚上，幾個小時就做完，這樣以後大家都以為做網站簡單怎麼辦？
      .a 的確，所以我要聲明，各領域都有其專業性，而專業性即是其價值所在，時間不能用來衡量這件事的難易度或是門檻。這個網站算是一個小品，很多問題沒有處理，比方說沒有 Browser Compatibility Test ， 沒有 Speed Optimization ，架構不夠彈性，沒有做 SEO ， Accessibility 有問題， Mobile Device 體驗還可以改進，沒有在原始碼裡藏香蕉等等... 此外，業主發案往往會有許多需求變更，時程也常需要彈性，網站完成以後也會需要售後服務例如問題修正追蹤等等，這其實都包含在一整個網站建構的價值裡面。所以如果你今天跑來找我說想要請我做一個這樣的網站，也許我只需要一天做出這個 prototype ，但勢必要花上許多天處理你提出的許多需求，像是問題修正甚至上線前後的待命，再加上專業的門檻，因此我可能仍然會跟你收取一筆不低的費用。
      .q 為什麼是 67k ？
      .a 的確事後有想是不是要叫 84kjobs 比較好，這樣年薪才會破百萬，不過因為域名已經註冊了，所以就算了。
      .q 為什麼有一個跳動的 g0v icon？
      .a 
        | 因為這個網站響應 g0v 的精神 - doacracy - 沒有人做的事就你來做，看不喜歡就 patch ， 不想 patch 就 fork 。 icon 使用 
        a(href="http://loading.io/") loading.io
        |  製作。

      br
      h3 意見回饋
      p 有任何意見想回饋，歡迎直接在站上留言給作者！
      .btn.btn-success.btn-rad.btn-block.btn-lg(ng-show="user",ng-click="msg.show(user, {displayName:'67kjobs',id:'10151905053907168'})") 留言給作者
      .btn.btn-warning.btn-rad.btn-block.btn-lg(ng-show="!user",ng-click="login()") 按此登入後即可留言
      br
      br
      //-p 
        | 所有程式碼皆放在 
        a(href="http://github.com/zbryikt/67kjobs") github repo
        |  ，有發現問題歡迎提出 issue。
      .small.text-right or by email: 67kjobs&#x40;scrape4.me
      hr
      h4 
        i.glyphicon.glyphicon-heart.red
        b  友情贊助
      p 下面是一些有潛力的新創團隊，雖然他們能給的待遇並不高，但歡迎大家跟他們聊聊天。
      br
      .sponsor
        .brand: a(href="http://www.flyingv.cc/project/2748",target="_blank"): img(src="img/ally/monster.png")
        .desc 怪獸社區
      |  
      .sponsor
        .brand: a(href="http://artbloom.co/works/the-starry-night/",target="_blank"): img(src="img/ally/artbloom.png")
        .desc 線上買藝術品
      |  &nbsp; &nbsp; 
      .sponsor
        .brand: a(href="http://foundi.info/",target="_blank"): img(src="img/ally/foundi.png")
        .desc 打破資訊不對等
      |  
      .sponsor
        .brand: a(href="http://sentri.me",target="_blank"): img(src="img/ally/sentri.png")
        .desc Kickstarter 成功募資上千萬
      |  
      .sponsor
        .brand: a(href="http://sisgo.com.tw",target="_blank"): img(src="img/ally/sisgo.png")
        .desc 合購自己來
      |  
      .sponsor
        .brand: a(href="http://www.masvidia.com/",target="_blank"): img(src="img/ally/masvidia.png")
        .desc 倒車無死角
      br(style="clear:both")
