doctype html
//- basic libraries: jquery(1.10.2), d3js(3.3.11), angularjs(1.2.3), bootstrap(3.0)/semantic-ui(0.9.3/0.9.5)
- var usecdn = false
- var useog = true
- var lib = { jquery: true, d3js: true, angular: true, bootstrap: true, semantic: false }
- var assets = "assets"
- var thumbnail = "http://zbryikt.github.io/67kjobs/img/thumbnail.png"
html(lang="en")
  head(prefix="og: http://ogp.me/ns#")
    meta(charset="utf-8")
    title 67kjobs / 六萬七職缺網
    // libraries
    include library.jade
    // custom files
    link(rel="stylesheet",type="text/css",href="index.css")
    script(type="text/javascript",src="//cdn.firebase.com/js/client/1.0.17/firebase.js")
    script(type="text/javascript",src="//cdn.firebase.com/v0/firebase-simple-login.js")
    script(type="text/javascript",src="//cdn.firebase.com/libs/angularfire/0.7.1/angularfire.min.js")
    script(type="text/javascript",src="jobs.js")
    script(type="text/javascript",src="index.js")
  body(ng-app="jobs")
    nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse(role="navigation")
      .container-fluid
        a.navbar-brand(href="#") 
          img(src="img/logo-mini.png")
      .collapse.navbar-collapse
        ul.nav.navbar-nav
          li: a(href="#") 關於我們
          li: a(href="#list-job") 職缺列表
          li: a(href="#post-job") 刊登職缺
        ul.nav.navbar-nav.pull-right
          li: a.disabled(href="#") 登入
    #root
      #pre-content
        block pre-content
      #content
        block content
      #footer
        block footer
